<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa000.demo.module.codegroup.CodeGroupDao">

	<resultMap id="resultMapObj" type="com.aaa000.demo.module.codegroup.CodeGroupDto"></resultMap>
	
	<!-- refid같은 id 사용할때 붙어서 사용가능하다 -->
	 <sql id="selectCommon">
		FROM
			codegroup
		WHERE 1=1
		<!-- 사용여부는 사용안함 -->
		 <!-- <if test= "shUseMy != null and !shUseMy.equals('')">AND  a.ifcgUseMy = #{shUseMy}</if>  -->
		 <!-- 삭제 여부 -->
		<if test= "shDelNy != null and !shDelNy.equals('')">AND ifchDelNy = #{shDelNy}</if>
			
			
			<!-- 날짜 검색 -->			
		<choose>								
			<when test="shOptionDate == 1">AND regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose> 
 
		
		 <choose>
            <when test="shOption == 1">AND cdgSeq = #{shValue}</when>
            <when test="shOption == 2">AND ifcgName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
        
        
        
		
		
			
	</sql> 
	
	<update id="update">
		UPDATE codegroup SET
			ifcgName = #{ifcgName},
			modDateTime = NOW()  <!-- 현재 시간으로 업데이트 -->
		WHERE
			cdgSeq = #{cdgSeq}
			
	
	</update>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<!-- 리스트 보여주기 -->
	<select id="selectList" resultMap="resultMapObj">
		
		
			SELECT
				cdgSeq,
			    ifcgName,
			    newsAgency,
			    gender,
			    usedOrNot,
			    registration,
			    correction,
			 
				(select count(aa.cdSeq) from code aa where 1=1 and aa.ifcdDelNy = 0 and aa.codeGroup_cdgSeq = cdgSeq) as xifcdSeqCount
			
			    
			<include refid="selectCommon"></include>
			
				AND ifchDelNy = 0  
			ORDER BY cdgSeq DESC
			limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	
	<!-- 등록하기 -->
	<insert id="insert">
		
		INSERT INTO codegroup(
			ifcgName,
			ifchDelNy,
			newsAgency,
			gender,
			usedOrNot,
			registration,
			correction,
	        regDateTime,
	        modDateTime
			
			
		) value (
			#{ifcgName},
			0,
			#{newsAgency},
			#{gender},
			#{usedOrNot},
			#{registration},
			#{correction},
	        NOW(),
	        NOW()
		
		)
		 <!-- <include refid="selectCommon"></include>  -->
		<selectKey resultType="String" keyProperty="cdgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
		
	</insert>
	
	
		<!-- 등록하기 -->
	<insert id="insert1">
		
		INSERT INTO codegroup(
			ifcgName,
			ifchDelNy,
			newsAgency,
			gender,
			usedOrNot,
			registration,
			correction,
	        regDateTime,
	        modDateTime
			
			
		) value (
			#{ifcgName},
			0,
			#{newsAgency},
			#{gender},
			#{usedOrNot},
			#{registration},
			#{correction},
	        NOW(),
	        NOW()
		
		)
		 <!-- <include refid="selectCommon"></include>  -->
		<selectKey resultType="String" keyProperty="cdgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
		
	</insert>
	
	<!-- 데이터 1개씩 가져오기 -->
	<select id="selectOne"  resultMap="resultMapObj">
	SELECT
		cdgSeq,
		ifcgName,
		ifchDelNy
	FROM
		codegroup
	WHERE 1=1
		AND cdgSeq = #{cdgSeq}
	ORDER BY cdgSeq DESC
	
	</select>
	 
	 <!-- 업데이트 삭제 -->
	 <update id="uelete" >
	 	UPDATE codegroup SET
	 		ifchDelNy = 1
	 	WHERE
	 		cdgSeq = #{cdgSeq}
	 </update>
	 
</mapper>