<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa000.demo.user.favorites.FavoritesDao">

	<resultMap id="resultMapObj" type="com.aaa000.demo.user.favorites.FavoritesDto"></resultMap>
	

	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			favoritesSeq,
		    futsalInformation_fiSeq,
		    user_suSeq
		FROM
			favorites
		WHERE 1=1
		ORDER BY favoritesSeq ASC
	
	</select>
	
	
	

	
	
</mapper>	