<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa000.demo.user.futsalinformation.FutsalinformationDao">

	<resultMap id="resultMapObj" type="com.aaa000.demo.user.futsalinformation.FutsalinformationDto"></resultMap>

	<!-- 풋살장 정보 리스트 보여주기 -->
	<select id="selectList" resultMap="resultMapObj">
		
		SELECT 
		    a.fiSeq,
		    a.futsalName,
		    a.futsalPrice,
		    a.futsalRegion,
		    a.futsalAddress,
		    a.futsalPhoneNumbar,
		    a.futsalBusinessHours,
		    a.futsalFacilityUsageRules,
		    a.futsalCancellationPolicy,
		    a.fiDelMy,
		    a.regDateTime,
		    a.modDateTime,
		    a.zipCode,
		    a.detailedAddress,
		    a.latitude,
		    a.hardness,
		    region.cdSeq AS regionCdSeq,
		    region.ifcdName AS regionName,
		    COALESCE(review.avgStarScore, 0) AS avgStarScore,
		    COALESCE(review.reviewCount, 0) AS reviewCount,
		    (SELECT 		    	
		    	path
		    FROM 
		    	uploaded
		    WHERE 1=1	
		    	AND pseq = fiSeq
		    	AND delNy = 0
		    ) AS path
		    
		FROM
		    futsalinformation a
		    LEFT JOIN code region ON a.futsalRegion = region.cdSeq
		    LEFT JOIN (
		        SELECT 
		            futsalInformation_fiSeq,
		            ROUND(AVG(starScore), 1) AS avgStarScore,
		            COUNT(*) AS reviewCount
		        FROM review
		        GROUP BY futsalInformation_fiSeq
		    ) review ON a.fiSeq = review.futsalInformation_fiSeq
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND a.fiDelMy = #{shDelNy}</if>
			<!-- <if test="shValue != null and !shValue.equals('')">
			    AND a.futsalName LIKE CONCAT('%', #{shValue}, '%')
			</if> -->
			
			<choose>
           	    <when test="shOption == 1">AND a.futsalName LIKE CONCAT('%',#{shValue},'%')</when>
            	<when test="shOption == 2">AND a.futsalAddress LIKE CONCAT('%',#{shValue},'%')</when>
         	    <when test="shOption == 3">AND a.futsalPrice LIKE CONCAT('%',#{shValue},'%')</when>
         	    <when test="shOption == 4">
			        AND a.futsalRegion = (
			            CASE 
			                WHEN #{shValue} = '서울' THEN 8
			                WHEN #{shValue} = '경기' THEN 9
			                ELSE -1  <!-- 매칭 안 될 경우 검색 안 되게 함 -->
			            END
			        )
			    </when>
         	    
      		</choose>
      			<!-- 날짜 검색 -->			
		<choose>								
			<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose> 
				AND fiDelMy = 0  
			
			 
			
			 limit #{rowNumToShow} offset #{startRnumForMysql} 
			 
	</select>
	
	
	
	
	<select id="reviewList" resultMap="resultMapObj">
		SELECT
		    a.rSeq,
		    a.starScore,
		    a.reviewTitle,
		    a.reviewText,
		    a.user_suSeq,
		    a.futsalInformation_fiSeq,
		    a.regDateTime,
		    a.riDelMy,
		    b.fiSeq,
		    b.futsalName,         
		    c.suSeq,
		    c.userName,
		    c.userId
		FROM 
		    review a
		    JOIN futsalInformation b ON a.futsalInformation_fiSeq = b.fiSeq
		    JOIN user c ON a.user_suSeq = c.suSeq
		WHERE 1=1
		
		   AND futsalinformation_fiseq = #{fiSeq}
		   AND riDelMy = 0
	
	</select>
	
	<sql id="selectCommon">
		FROM
			futsalinformation 
		WHERE 1=1
			 <!-- AND ifchDelNy = 0  -->
	</sql>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<!-- 폼 등록하기 -->
	<insert id="insert">
		INSERT INTO futsalinformation(
			futsalName,
			futsalPrice,
			futsalRegion,
			futsalAddress,
			futsalPhoneNumbar,
			futsalBusinessHours,
			futsalFacilityUsageRules,
			futsalCancellationPolicy,
			fiDelMy,
	        regDateTime,
	        modDateTime,
	        zipCode, <!-- 우편번호 -->
			detailedAddress, <!-- 상세주소 -->
			latitude, <!-- 위도 -->
			hardness <!-- 경도 -->
		
		
		) value (
			#{futsalName},
			#{futsalPrice},
			<choose>
				<when test="futsalRegion == '서울'">8</when>
				<when test="futsalRegion == '경기'">9</when>
				<otherwise>0</otherwise> <!-- 기본값 또는 예외 -->
			</choose>,
			#{futsalAddress},
			#{futsalPhoneNumbar},
			#{futsalBusinessHours},
			#{futsalFacilityUsageRules},
			#{futsalCancellationPolicy},
			0,
	        NOW(),
	        NOW(),
	        #{zipCode},
	        #{detailedAddress},
	        #{latitude},
        	#{hardness}
		)
		
		  <selectKey resultType="String" keyProperty="fiSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>  
		
	
	</insert>
	

	
	<update id ="update">
	UPDATE futsalinformation SET
		futsalName = #{futsalName},
		futsalPrice = #{futsalPrice},
		futsalRegion = 
            CASE 
                WHEN #{futsalRegion} = '서울' THEN 8
                WHEN #{futsalRegion} = '경기' THEN 9
                ELSE #{futsalRegion}  <!-- 숫자면 그대로 저장 -->
            END,
		futsalAddress = #{futsalAddress},
		futsalPhoneNumbar = #{futsalPhoneNumbar},
		futsalBusinessHours = #{futsalBusinessHours},
		futsalFacilityUsageRules = #{futsalFacilityUsageRules},
		futsalCancellationPolicy = #{futsalCancellationPolicy},
		 modDateTime = NOW(),  <!-- 현재 시간으로 업데이트 -->
		 zipCode = #{zipCode},
		 detailedAddress = #{detailedAddress}
	WHERE
		fiSeq = #{fiSeq}
		
	
	</update>
	<update id="imgUpdate">
		UPDATE uploaded SET
			delNy = 1
		WHERE
			pseq = #{fiSeq}
			
	</update>
	
	<select id="selectOne" resultMap="resultMapObj">
	SELECT 
			a.fiSeq,
		    a.futsalName,
		    a.futsalPrice,
		    a.futsalRegion,
		    a.futsalAddress,
		    a.futsalPhoneNumbar,
		    a.futsalBusinessHours,
		    a.futsalFacilityUsageRules,
		    a.futsalCancellationPolicy,
		    a.zipCode, <!-- 우편번호 -->
		    a.detailedAddress, <!-- 상세주소 -->
		    
		   
		    
		    region.cdSeq AS regionCdSeq,
		    region.ifcdName AS regionName,
		        (SELECT 
    	
    	path
    FROM 
    	uploaded
    WHERE 1=1	
    	AND pseq = fiSeq
    	AND delNy = 0
    ) AS path
		  
		FROM
			futsalinformation a
			LEFT JOIN code region ON a.futsalRegion = region.cdSeq
		WHERE 1=1
		AND fiSeq = #{fiSeq}
		
	
	</select>
	
	<!-- 업데이트 삭제 -->
	<update id ="uelete">
			UPDATE futsalinformation SET
	 		fiDelMy = 1
	 	
	 	WHERE
	 		fiSeq = #{fiSeq}
	
	</update>
	
	
	
	<insert id="insertUploaded">
		
		<include refid="Base.insertUploaded"></include>
	
	
	</insert>
	
	
	
</mapper>	
	
	
	
	
	