<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa000.demo.user.reservationprocess.ReservationprocessDao">

	<resultMap id="resultMapObj" type="com.aaa000.demo.user.reservationprocess.ReservationprocessDto"></resultMap>
	
		<!-- 풋살 매칭시청시 신청 정보 매칭 사이트 리스트 뿌리기 -->
		<select id="selectList" resultMap="resultMapObj">
			       SELECT
					    a.fpSeq,
					    a.reservationDate,
					    a.reservationTime,
					    a.matchingOnOff,
					    a.matchingDeposit,
					    a.matchingBankName,
					    a.matchingBankNumbar,
					    a.matchingVs,
					    a.matchingTeamLevel,
					    a.matchingTeamName,
					    a.matchingTeamIntroduction,
					    a.applicationTeamLevel,
					    a.applicationTeamPhoneNumbar,
					    a.applicationTeamName,
					    a.applicationTeamIntroduction,
					    a.rpDelMy,
					    a.user_suSeq,
					    a.futsalInformation_fiSeq,
					    b.fiSeq,
					    b.futsalName,
					    b.futsalPrice,
					    b.futsalRegion,
					    b.futsalAddress,
					    b.futsalPhoneNumbar,
					    b.futsalBusinessHours,
					    b.futsalFacilityUsageRules,
					    b.futsalCancellationPolicy,
					    b.fiDelMy
					FROM
					    reservationprocess a
					    LEFT JOIN futsalinformation b ON a.futsalInformation_fiSeq = b.fiSeq;
			       WHERE 1=1
			       		  AND fpSeq = #{fpSeq} 
			       ORDER BY fpSeq DESC
		</select>
		
		
		<select id="selectOne" resultMap="resultMapObj">
		    SELECT
		        a.fpSeq,
		        a.reservationDate,
		        a.reservationTime,
		        a.matchingOnOff,
		        a.matchingDeposit,
		        a.matchingBankName,
		        a.matchingBankNumbar,
		        a.matchingVs,
		        a.matchingTeamLevel,
		        a.matchingTeamName,
		        a.matchingTeamIntroduction,
		        a.applicationTeamLevel,
		        a.applicationTeamPhoneNumbar,
		        a.applicationTeamName,
		        a.applicationTeamIntroduction,
		        a.rpDelMy,
		        a.user_suSeq,
		        a.futsalInformation_fiSeq,
		        b.fiSeq AS fiSeq,
		        b.futsalName,
		        b.futsalPrice,
		        b.futsalRegion,
		        b.futsalAddress,
		        b.futsalPhoneNumbar,
		        b.futsalBusinessHours,
		        b.futsalFacilityUsageRules,
		        b.futsalCancellationPolicy,
		        b.fiDelMy,
		        c.suSeq,
		        c.userName,
		        c.userId
		    FROM
		        reservationprocess a
		        LEFT JOIN futsalinformation b ON a.futsalInformation_fiSeq = b.fiSeq
		        LEFT JOIN user c ON a.user_suSeq = c.suSeq
		    WHERE
		        a.fpSeq = #{fpSeq}
		        AND b.fiDelMy = 0
		    ORDER BY a.fpSeq DESC
		</select>

		
		
		
	
	
	
	
	
</mapper>	