<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa000.demo.user.review.ReviewDao">

	<resultMap id="resultMapObj" type="com.aaa000.demo.user.review.ReviewDto"></resultMap>
	
	
	
	<!-- 풋살장 상세 리뷰 등록 -->
	<insert id="insert">
		INSERT INTO review(
		
			starScore,
			reviewTitle,
			reviewText,
			riDelMy,
			user_suSeq,
			futsalInformation_fiSeq,
			regDateTime
			
		) value (
			#{starScore},
			#{reviewTitle},
			#{reviewText},
			0,
			#{user_suSeq},
			#{futsalInformation_fiSeq},
			now()
		)
	
	
	</insert>
	
	<!-- 리뷰 작성 리스트 가져오기 -->
	<select id="reviewListByUser" resultMap="resultMapObj">
		SELECT
		    a.rSeq,
		    a.reviewTitle,
		    a.reviewText,
		    a.user_suSeq,
		    a.futsalInformation_fiSeq,
		    a.regDateTime,
		    a.riDelMy,
		    b.fiSeq,
		    b.futsalName,
		    c.suSeq,
		    c.userName  -- 예시로 사용자 이름 추가
		FROM 
		    review a
		LEFT JOIN futsalinformation b ON a.futsalInformation_fiSeq = b.fiSeq
		LEFT JOIN user c ON a.user_suSeq = c.suSeq
		
		WHERE 1=1
			AND riDelMy = 0
			AND a.user_suSeq = #{suSeq}
	
	</select>
	
	<!-- 업데이트 삭제 -->
	 <update id="uelete">
	 	UPDATE review SET
	 		riDelMy = 1
	 	    WHERE rSeq IN
    <foreach item="id" collection="list" open="(" separator="," close=")">
        #{id}
    </foreach>
	 </update>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>	
	