<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa000.demo.user.review.ReviewDao">

	<resultMap id="resultMapObj" type="com.aaa000.demo.user.review.ReviewDto"></resultMap>
	
	
	
	<!-- 풋살장 상세 리뷰 등록 -->
	<insert id="insert">
		INSERT INTO review(
		
			starScore,
			reviewTitle,
			reviewText,
			riDelMy,
			user_suSeq,
			futsalInformation_fiSeq,
			regDateTime
			
		) value (
			#{starScore},
			#{reviewTitle},
			#{reviewText},
			0,
			#{user_suSeq},
			#{futsalInformation_fiSeq},
			now()
		)
	
	
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>	
	