<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa000.demo.user.user.UserDao">

	<resultMap id="resultMapObj" type="com.aaa000.demo.user.user.UserDto"></resultMap>
	<!-- refid같은 id 사용할때 붙어서 사용가능하다 -->
	 <sql id="selectCommon">
		FROM
			user a
			LEFT JOIN code telecom ON a.userNewsAgency = telecom.cdSeq
			LEFT JOIN code gender ON a.userGender = gender.cdSeq
		WHERE 1=1
		
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.uDelMy = #{shDelNy}</if>
		
		
		 <choose>
            
            <when test="shOption == 1">AND a.userName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 2">AND gender.ifcdName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND telecom.ifcdName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 4">AND a.userPhoneNumber LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 5">AND a.userBirthday LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 6">AND a.userId LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 7">AND a.userEmail LIKE CONCAT('%',#{shValue},'%')</when>
            
        </choose>
        
        <choose>
			<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
 			<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
		
		
		
		ORDER BY suSeq ASC
		
			 <!-- AND ifchDelNy = 0  -->
	</sql>
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="codeList" resultMap="resultMapObj">
		SELECT 
			cdSeq,
			ifcdName,
			codeGroup_cdgSeq
		
		    
		    
			FROM
				code 
			WHERE 1=1
			
			 
			
			
	</select>
	
	
		<!--사용자 리스트 보여주기 -->
	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			a.suSeq,
		    a.userName,
		    a.userGender,
		    a.userNewsAgency,
		    a.userPhoneNumber,
		    a.userBirthday,
		    a.userId,
		    a.userEmail,
		    a.userPassword,
		    a.uDelMy,
		    a.regDateTime,
		    a.modDateTime,
		    telecom.cdSeq AS telecomCdSeq,
		    telecom.ifcdName AS telecomName,
		    gender.cdSeq AS genderCdSeq,
		    gender.ifcdName AS genderName
		
		    
		    
			 <include refid="selectCommon"></include> 
			 
			
			limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<!-- 유저 데이터중에 한개만 뽑아서 보여주라 -->
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			suSeq,
		    userName,
		    userGender,
		    userNewsAgency,
		    userPhoneNumber,
		    userBirthday,
		    userId,
		    userEmail,
		    userPassword
		FROM
			user
		WHERE 1=1
		AND suSeq = #{suSeq}
		
		ORDER BY suSeq DESC
	</select>
	
	
	
		<!-- 업데이트  -->
	<update id="update">
		UPDATE user SET	
		   
		    userNewsAgency = #{userNewsAgency},
		    userPhoneNumber = #{userPhoneNumber},
		   
		   
		    userEmail = #{userEmail},
		   <!--  userPassword = #{userPassword}, -->
		    modDateTime = NOW()  <!-- 현재 시간으로 업데이트 -->
		WHERE 
			suSeq = #{suSeq}
	</update>
	
			<!-- my페이지 페스워드 업데이트  -->
	<update id="updatePassword">
		UPDATE user SET	
		 
		     userPassword = #{userPassword},
		    modDateTime = NOW()  <!-- 현재 시간으로 업데이트 -->
		WHERE 
			suSeq = #{suSeq}
	</update>
	
	<!-- 업데이트 삭제 -->
	<update id="uelete">
		UPDATE user SET	
		   	uDelMy = 1
		WHERE 
			suSeq = #{suSeq}
	
	</update>
	
	
	<insert id="insert">
		INSERT INTO user(
	
			
		    userName,
		    userGender,
		    userNewsAgency,
		    userPhoneNumber,
		    userBirthday,
		    userId,
		    userEmail,
		    userPassword,
		    uDelMy,
	        regDateTime,
	        modDateTime
		) value (
	
		    #{userName},
		    #{userGender},
		    #{userNewsAgency},
		    #{userPhoneNumber},
		    #{userBirthday},
		    #{userId},
		    #{userEmail},
		    #{userPassword},
		    0,
	        NOW(),
	        NOW()
		)
			<selectKey resultType="String" keyProperty="suSeq" order="AFTER">
			SELECT last_insert_id()
			</selectKey>
	</insert>
	
	<!-- 로그인 화면 구현 -->
	<select id="selectId" resultMap="resultMapObj">
		SELECT 
			suSeq,
		    userName,
		    userGender,
		    userNewsAgency,
		    userPhoneNumber,
		    userBirthday,
		    userId,
		    userEmail,
		    userPassword,
		    uDelMy
		    
		    
		FROM
			user
			
		WHERE 1=1
			AND userId = #{userId}
			<!-- AND userPassword = #{userPassword} -->
			
		ORDER BY suSeq DESC
		
	</select>
	
	
	<select id="idDuplicate" resultType="Integer">
			SELECT COUNT(*)
			
			FROM
				user
			WHERE 1=1
			
			AND userId = #{userId}
			
		
	</select>
	
	
	<!-- 사용자 파일 업로드  -->
	<insert id="insertUser" >
    INSERT INTO user
    (userName, userGender, userNewsAgency, userPhoneNumber, userBirthday, userId, userEmail, userPassword, uDelMy, regDateTime, modDateTime)
    VALUES
    (#{userName}, #{userGender}, #{userNewsAgency}, #{userPhoneNumber}, #{userBirthday}, #{userId}, #{userEmail}, #{userPassword}, #{uDelMy}, NOW(), NOW())
</insert>
	
	
	
	
</mapper>	
	