 <!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
 
 <th:block th:fragment="foter">
 
    <section class="content">
        <div class="container-fluid">
            
            
        </div>
    </section>
    <!-- <script src="/xdm/template/master/scss/_modals.scss"></script> -->
    	    <!-- Custom Js -->
    <!-- <script src="/xdm/template/master/js/admin.js"></script> -->
    <script src="/xdm/template/master/js/pages/ui/modals.js"></script>
        <!-- Jquery Core Js -->
    <!-- <script src="/xdm/jquery/jquery-3.7.1.min.js"></script> -->
  	<script src="/xdm/template/master/plugins/jquery/jquery.min.js"></script> 

    <!-- Bootstrap Core Js -->
    <script src="/xdm/template/master/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="/xdm/template/master/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="/xdm/template/master/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/xdm/template/master/plugins/node-waves/waves.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="/xdm/template/master/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="/xdm/template/master/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <!-- Custom Js -->
    <!-- <script src="/xdm/template/master/js/pages/tables/jquery-datatable.js"></script> -->

    <!-- Demo Js -->
    <!-- <script src="/xdm/template/master/js/demo.js"></script> -->
	
	    <!-- jquery  -->
    <!--체크박스 전체 체크 단독 체크-->
    <!-- <script>
        document.addEventListener("DOMContentLoaded", function () {
            const entireCheckbox = document.getElementById("entire");
            const rowCheckboxes = document.querySelectorAll(".row-checkbox");
    
            // 전체 선택 체크박스 클릭 시
            entireCheckbox.addEventListener("change", function () {
                rowCheckboxes.forEach(checkbox => {
                    checkbox.checked = entireCheckbox.checked;
                });
            });
    
            // 개별 체크박스 클릭 시 전체 선택 체크박스 상태 변경
            rowCheckboxes.forEach(checkbox => {
                checkbox.addEventListener("change", function () {
                    entireCheckbox.checked = [...rowCheckboxes].every(chk => chk.checked);
                });
            });
        });
    </script> -->

